@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Author: @ViewData["Author"]</p>

<address>
    <strong>Respository of this project: </strong> <a href="https://github.com/elGabriii/SalesWebMVC">github.com/elGabriii/SalesWebMVC</a>
</address>